

.container {
    margin-top: 20px;
   
}

.form-group {
    margin-bottom: 20px;
} 

.custom-btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: green;
    color: #fff;
    transition: background-color 0.3s;
}

.custom-btn:hover {
    background-color: #0056b3;
}

.alert {
    position: relative;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    color: inherit;
    cursor: pointer;
}